html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.perspective-1200 {
  perspective: 1200px;
}

.transform-right {
  transform: rotateY(-75deg);
  transform-origin: top right;
}

.transform-left {
  transform: rotateY(75deg);
  transform-origin: top left;
}

.number-home {
  text-shadow: 6px 6px 0px grey, -6px -6px 0  grey, -6px 6px 0 grey, 6px -6px 0 grey;
  border-radius: 12px;
}

.positioned .hidden {
  transform-origin: center right;
  left: auto;
  right: 0;
}

.swiper-slide-active ~ .swiper-slide:nth-of-type(6) .hidden { 
  transform-origin: center right;
  left: auto;
  right: 0;
}

.swiper-wrapper .swiper-slide-active .hidden {
  transform-origin: center left;
}

.swiper-slide:hover ~ .swiper-slide .z-40 {
  z-index: 30;
}